# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.PDFReader.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\alelo\Desktop\PDFReader\.idea\.idea.PDFReader\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
